<div class="card">
    <h5 class="card-header">Cadastro de Cliente</h5>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-8">
                    <input type="text" class="form-control" placeholder="Empresa">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="CNPJ">
                </div>
                <div class="col-md-8">
                    <input type="email" class="form-control" placeholder="E-mail">
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="Telefone">
                </div>
                <div class="col-md-12 text-right">
                    <button class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>