<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bart | Gerenciador de Empresa</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <main>
        <div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Gerenciador Bart</h3>
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="E-mail*" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Senha*" value="" />
                        </div>
                        <div class="form-group">
                            <input (click)="RedirecionarPagina()" type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">
                            <a class="ForgetPwd">Esqueceu a senha?</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 login-form-2">
                    <img id="img-login" src="../assets/bart.png" alt="Login">
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>

</html>