<div class="profile-sidebar">

    <div class="img-perfil text-center">
        <img src="https://cdn.pixabay.com/photo/2020/07/18/11/46/old-man-5416999_960_720.jpg" class="img-responsive"
            alt="">
    </div>

    <div class="profile-usertitle text-center">
        <div class="nome-usuario">
            <span>Marcus Doe</span>
        </div>
        <div class="funcao-usuario">
            <span>Developer</span>
        </div>
    </div>

    <div class="user-buttons text-center">
        <button type="button" class="btn btn-success btn-sm">Perfil</button>
    </div>

    <div class="sidebar">
        <ul class="nav">
            <li class="active">
                <a href="#">
                    <i class="fas fa-chart-line"></i>
                    Dashbord </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-cart-plus"></i>
                    Nova Venda </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user-tag"></i>
                    Clientes </a>
            </li>
            <li>
                <a routerLink="/funcionarios">
                    <i class="fas fa-users"></i>
                    Funcionarios </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-tags"></i>
                    Produtos </a>
            </li>
        </ul>
    </div>
    <!-- END MENU -->
</div>