<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>

<body>
    <header>
        <app-menu-navbar></app-menu-navbar>
    </header>
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <app-menu-sidebar></app-menu-sidebar>
            </div>
            <div class="col-md-9">
                <app-criar-produto></app-criar-produto>
            </div>
        </div>
    </div>

</body>

</html>